/* layout */
.column {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
}

.column.flex_2 {
  flex: 2;
}

.row {
  padding: 1rem;
  display: flex;
  flex-flow: row wrap;
}

.row.center {
  justify-content: center;
}

.row.end {
  justify-content: flex-end;
}

/* x-postpress */

a,
a:link,
a:visited {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

article {
  clear: inherit;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  width: 80%;
}

h1 {
  font-size: inherit;
}

h2 {
  color: #333;
  font-size: smaller;
}

hr {
  clear: both;
  display: block;
}

img {
  display: inherit;
  float: inherit;
  height: auto;
  max-height: inherit;
  max-width: 100%;
  padding-bottom: inherit;
  padding-left: inherit;
  padding-right: inherit;
  padding-top: inherit;
  width: auto;
}

ul {
  list-style-type: inherit;
}

p {
  clear: inherit;
  text-align: inherit;
}

pre {
  overflow: auto;
}

x-postpress {
  --a-color: #000;
  --a-text-decoration: none;
  --a-hover-text-decoration: underline;
  --article-clear: inherit;
  --article-margin-bottom: 1rem;
  --article-margin-left: auto;
  --article-margin-right: auto;
  --article-margin-top: 0;
  --article-width: 80%;
  --h2-color: #333;
  --h2-font-size: smaller;
  --hr-clear: both;
  --hr-display: block;
  --img-display: inherit;
  --img-float: inherit;
  --img-height: auto;
  --img-max-height: inherit;
  --img-max-width: 100%;
  --img-padding-bottom: inherit;
  --img-padding-left: inherit;
  --img-padding-right: inherit;
  --img-padding-top: inherit;
  --img-width: auto;
  --ul-list-style-type: inherit;
  --p-clear: inherit;
  --p-text-align: inherit;
}

/* react-clock */

.react-clock {
  display: block;
  position: relative;
}
.react-clock,
.react-clock *,
.react-clock *:before,
.react-clock *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-clock__face {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid black;
  border-radius: 50%;
}
.react-clock__hand {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 50%;
}
.react-clock__hand__body {
  position: absolute;
  background-color: black;
  transform: translateX(-50%);
}
.react-clock__mark {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 50%;
}
.react-clock__mark__body {
  position: absolute;
  background-color: black;
  transform: translateX(-50%);
}
.react-clock__mark__number {
  position: absolute;
  left: -40px;
  width: 80px;
  text-align: center;
}
.react-clock__second-hand__body {
  background-color: red;
}
