form {
  padding: 1rem;
  max-width: 40rem;
}

form .submit {
  max-width: 20rem;
}

.column {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
}

.column.flex_2 {
  flex: 2;
}

.row {
  padding: 1rem;
  display: flex;
  flex-flow: row wrap;
}

.row.center {
  justify-content: center;
}

.row.end {
  justify-content: flex-end;
}
