<div>
<form action="#">
    <div class="row">
      <div class="column">
        First Name:
      </div>
      <div class="column flex_2">
        <mwc-textfield #firstName name="firstName" type="text"></mwc-textfield>
      </div>
    </div>
    <div class="row">
      <div class="column">
        Last Name:
      </div>
      <div class="column flex_2">
        <mwc-textfield #lastName name="lastName" type="text"></mwc-textfield>
      </div>
    </div>
    <div class="row end">
      <div class="column submit">
        <mwc-button>
          <button (click)="doNotSubmit()" style="background: none; border: none; outline: none;" type="button">
            Login
          </button>
        </mwc-button>
        &nbsp;
        <mwc-button>
          <button (click)="onSubmit()" style="background: none; border: none; outline: none;" type="submit">
            Signup
          </button>
        </mwc-button>
      </div>
    </div>
  </form>

  <!-- <form action="#">
    <mwc-formfield alignend label="Username:">
      <input maxlength="24" name="username" type="text" />
    </mwc-formfield>

    <mwc-formfield alignend label="Password:">
      <input maxlength="100" name="password" type="password" />
    </mwc-formfield>

    <mwc-formfield>
      <mwc-button>
        <button style="background: none; border: none; outline: none;">
          Login
        </button>
      </mwc-button>
      <mwc-button>
        <button (click)="onSignup(this, 'foo', 'bar')" style="background: none; border: none; outline: none;">
          Signup
        </button>
      </mwc-button>
    </mwc-formfield>
    <mwc-textfield></mwc-textfield>
  </form> -->
</div>
