<form class="" [formGroup]="login">
  <div class="row">
    <div class="column">
      First Name:
    </div>
    <div class="column flex_2">
      <input type="text" formControlName="firstName" />
    </div>
  </div>
  <div class="row">
    <div class="column">
      Last Name:
    </div>
    <div class="column flex_2">
      <input type="text" formControlName="lastName" />
    </div>
  </div>
  <div class="row end">
    <div class="column submit">
      <button (click)="doNotSubmit()">Do not submit</button>
      &nbsp;
      <button (click)="onSubmit()" type="submit" [disabled]="!login.valid">Submit</button>
    </div>
  </div>
</form>
