li {
  display: inline-block;
  list-style: none;
}

li > a {
  background-color: #ccc;
  color: black;
  padding: 0.5rem;
  text-decoration: none;
}

li > a.active-link {
  background-color: #aaa;
}
