/* ul {} */

li {
  display: inline-block;
  list-style: none;
}

a, a:link, a:visited, a:focus, a:hover, a:active {
  background-color: #ccc;
  color: black;
  padding: 0.5rem;
  text-decoration: none;
}

a.active-link {
  background-color: #aaa;
}
