<header>
  <nav>
    <ul>
      <li>
        <a
          [routerLinkActiveOptions]="{exact:true}"
          href="/"
          routerLink="/"
          routerLinkActive="active-link"
        >
          {{ home }}
        </a>
      </li>
      <li>
        <a
          [routerLinkActiveOptions]="{exact:true}"
          href="/articles"
          routerLink="/articles"
          routerLinkActive="active-link"
        >
          {{ articles }}
        </a>
      </li>
      <li>
        <a
          [routerLinkActiveOptions]="{exact:true}"
          href="/rates"
          routerLink="/rates"
          routerLinkActive="active-link"
        >
          {{ rates }}
        </a>
      </li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>
