<style>
  a,
  a:link,
  a:visited {
    color: #000;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  article {
    clear: inherit;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 80%;
  }

  h1 {
    font-size: inherit;
  }

  h2 {
    color: #333;
    font-size: smaller;
  }

  hr {
    clear: both;
    display: block;
  }

  img {
    display: inherit;
    float: inherit;
    height: auto;
    max-height: inherit;
    max-width: 100%;
    padding-bottom: inherit;
    padding-left: inherit;
    padding-right: inherit;
    padding-top: inherit;
    width: auto;
  }

  ul {
    list-style-type: inherit;
  }

  p {
    clear: inherit;
    text-align: inherit;
  }

  pre {
    overflow: auto;
  }

  x-postpress {
    --a-color: #000;
    --a-text-decoration: none;
    --a-hover-text-decoration: underline;
    --article-clear: inherit;
    --article-margin-bottom: 1rem;
    --article-margin-left: auto;
    --article-margin-right: auto;
    --article-margin-top: 0;
    --article-width: 80%;
    --h2-color: #333;
    --h2-font-size: smaller;
    --hr-clear: both;
    --hr-display: block;
    --img-display: inherit;
    --img-float: inherit;
    --img-height: auto;
    --img-max-height: inherit;
    --img-max-width: 100%;
    --img-padding-bottom: inherit;
    --img-padding-left: inherit;
    --img-padding-right: inherit;
    --img-padding-top: inherit;
    --img-width: auto;
    --ul-list-style-type: inherit;
    --p-clear: inherit;
    --p-text-align: inherit;
  }
</style>

<x-postpress
  apiHost="https://content.example.com"
>
  <div slot="articles">
    <article>
      <h1><a href="https://example.com/1970/01/01/slotted/">
        {{ title }}
      </a></h1>
      <h2>Thursday, 01 January 1970</h2>
      <p>Lorem ipsum dolor sit amet</p>
      <hr>
    </article>
  </div>
</x-postpress>

<router-outlet></router-outlet>
