<x-postpress>
    <div slot="articles">
      <article>
          <h1>Admin Component</h1>

          <p>Uses <a href="https://angular.io/guide/elements">Angular elements</a> to help get started. Logging in is limited to setting a key/val pair in local storage. Logging out has not been implemented. <em>Test username and password: foo/bar</em></p>
          <hr />

          <!-- https://github.com/angular/angular/issues/25525 -->
          <!-- https://github.com/angular/angular/pull/27631 -->

          <app-login></app-login>
        </article>
    </div>
  </x-postpress>
