a,
a:link,
a:visited {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

article {
  clear: inherit;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  width: 80%;
}

h1 {
  font-size: inherit;
}

h2 {
  color: #333;
  font-size: smaller;
}

hr {
  clear: both;
  display: block;
}

img {
  display: inherit;
  float: inherit;
  height: auto;
  max-height: inherit;
  max-width: 100%;
  padding-bottom: inherit;
  padding-left: inherit;
  padding-right: inherit;
  padding-top: inherit;
  width: auto;
}

ul {
  list-style-type: inherit;
}

p {
  clear: inherit;
  text-align: inherit;
}

pre {
  overflow: auto;
}
